<div>
  <mat-list>
    <mat-list-item *ngFor="let strategy of strategies; let i=index" style="cursor: pointer;"
    [routerLink]="['/strategy/update/', strategy._id]">
      <h4 matLine>{{strategy.name}}</h4>
      <p matLine>{{strategy.description}}</p>
      <button color="primary" mat-icon-button [routerLink]="['/strategy/create/', strategy._id]">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button color="primary" mat-icon-button (click)="backtest(strategy);$event.stopPropagation()">
        <mat-icon>timer</mat-icon>
      </button>
      <ng-container *ngIf="isDeployed(strategy); else notDeployedTemplate">
        <button color="primary" mat-icon-button (click)="finish(strategy);$event.stopPropagation()" matTooltip="Finish Strategy">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-container>
      <ng-template #notDeployedTemplate>
        <button color="primary" mat-icon-button (click)="deploy(strategy);$event.stopPropagation()" matTooltip="Deploy Strategy">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </ng-template>
      <button color="primary" mat-icon-button [routerLink]="['/strategy/update/', strategy._id]">
          <mat-icon>edit</mat-icon>
      </button>
      <button color="warn" mat-icon-button (click)="onRemove(strategy._id, i)">
          <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>